<section class="services-section" [dir]="direction">
  <div class="container">
    <div class="header">
      <h2
        appScrollAnimate
        animationClass="animate__fadeInUp"
        animationDelay="0s"
      >
        {{ "SERVICES.OUR_SERVICES" | translate }}
      </h2>
      <p
        appScrollAnimate
        animationClass="animate__fadeInUp"
        animationDelay="0.2s"
      >
        {{ "SERVICES.COMPREHENSIVE_SOLUTIONS" | translate }}
      </p>
    </div>

    <div class="services-grid">
      <div
        class="service-card"
        *ngFor="let service of displayedServices; let i = index"
        appScrollAnimate
        animationClass="animate__fadeInUp"
        [animationDelay]="i * 0.15 + 0.3 + 's'"
      >
        <div class="card-inner">
          <div class="card-front">
            <div class="card-content">
              <div class="icon-container">
                <img
                  [src]="service.icon"
                  alt="icon"
                  width="40"
                  height="40"
                  loading="lazy"
                />
              </div>
              <h3>{{ service.title | translate }}</h3>
            </div>
          </div>

          <div class="card-back">
            <div class="geometric-shapes"></div>
            <div class="card-content">
              <p class="flip-description">
                {{ service.flipDescription | translate }}
              </p>
              <a
                [routerLink]="['/services', service.id]"
                class="read-more flip"
              >
                {{ "COMMON.READ_MORE" | translate }}
                <span class="arrow-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="view-services-btn"
      *ngIf="showViewButton"
      appScrollAnimate
      animationClass="animate__fadeInUp"
      animationDelay="0.8s"
    >
      @if (!showOnlyThree) {
      <!-- First Button (Primary) -->
      <button class="btn-primary" [routerLink]="['/services']">
        {{ "SERVICES.VIEW_SERVICES" | translate }}
        <span class="arrow-icon"></span>
      </button>
      } @if (showOnlyThree) {
      <!-- Second Button (Secondary / Outline) -->
      <button class="three-btn" [routerLink]="['/services']">
        {{ "BACK_TO_SERVICES" | translate }}
        <span class="arrow-icon"></span>
      </button>
      }
    </div>
  </div>
</section>
