<div class="main-layout">
  @if (loading) {

  <app-loader></app-loader>
  }
  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <app-header></app-header>
    </div>
  </header>

  <!-- Main Content -->
  <main class="page-content">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
