<div class="contact-container">
  <div class="content-wrapper">
    <!-- Left side -->
    <div class="left-content">
      <div class="section-title">
        <div class="subheading">{{ "CONTACT.SUBHEADING" | translate }}</div>
        <div class="content">
          <h2>
            {{ "CONTACT.TITLE" | translate }}
            <span class="highlight-us">{{ "CONTACT.US" | translate }}</span>
          </h2>
          <p>{{ "CONTACT.DESCRIPTION" | translate }}</p>
        </div>
      </div>

      <div class="contact-info">
        <div class="contact-row">
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <span>{{ "CONTACT.EMAIL" | translate }}</span>
        </div>
        <div class="contact-row">
          <div class="icon"><i class="fas fa-phone"></i></div>
          <span>{{ "CONTACT.PHONE" | translate }}</span>
        </div>
        <div class="contact-row">
          <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
          <span>{{ "CONTACT.ADDRESS" | translate }}</span>
        </div>
      </div>

      <div class="bottom-left-image">
        <div class="placeholder-image">
          <img
            src="assets/contact-us-img.svg"
            alt="{{ 'CONTACT.IMAGE_ALT' | translate }}"
          />
        </div>
      </div>
    </div>

    <!-- Right side form -->
    <div class="right-content">
      <form class="contact-form">
        <div class="form-group">
          <label for="name"
            ><i class="fas fa-user"></i>
            {{ "CONTACT.FORM.NAME" | translate }}</label
          >
          <input
            type="text"
            id="name"
            placeholder="{{ 'CONTACT.FORM.NAME_PLACEHOLDER' | translate }}"
          />
        </div>

        <div class="form-group">
          <label for="number"
            ><i class="fas fa-phone"></i>
            {{ "CONTACT.FORM.NUMBER" | translate }}</label
          >
          <input
            type="tel"
            id="number"
            placeholder="{{ 'CONTACT.FORM.NUMBER_PLACEHOLDER' | translate }}"
          />
        </div>

        <div class="form-group">
          <label for="email"
            ><i class="fas fa-envelope"></i>
            {{ "CONTACT.FORM.EMAIL" | translate }}</label
          >
          <input
            type="email"
            id="email"
            placeholder="{{ 'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate }}"
          />
        </div>

        <div class="form-group">
          <label for="companyName"
            ><i class="fas fa-building"></i>
            {{ "CONTACT.FORM.COMPANY" | translate }}</label
          >
          <input
            type="text"
            id="companyName"
            placeholder="{{ 'CONTACT.FORM.COMPANY_PLACEHOLDER' | translate }}"
          />
        </div>

        <div class="form-group">
          <label for="message"
            ><i class="fas fa-comment-dots"></i>
            {{ "CONTACT.FORM.MESSAGE" | translate }}</label
          >
          <textarea
            id="message"
            rows="5"
            placeholder="{{ 'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate }}"
          ></textarea>
        </div>

        <div class="checkbox-group">
          <input type="checkbox" id="acceptTerms" />
          <label for="acceptTerms">{{
            "CONTACT.FORM.TERMS" | translate
          }}</label>
        </div>

        <button type="submit" class="submit-btn">
          {{ "CONTACT.FORM.SEND" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
