<div class="discover-medgate-container">
  <div class="content-container">
    <div class="content-section">
      <div class="section-title">
        <h1
          appScrollAnimate
          animationClass="animate__fadeInUp"
          animationDelay="0s"
        >
          {{ "DISCOVER_MEDGATE.TITLE" | translate }}
        </h1>
        <p
          appScrollAnimate
          animationClass="animate__fadeInUp"
          animationDelay="0.2s"
        >
          {{ "DISCOVER_MEDGATE.DESCRIPTION" | translate }}
        </p>
      </div>
      <button class="register-btn" (click)="goToContact()">
        {{ "DISCOVER_MEDGATE.REGISTER_BTN" | translate }}
      </button>
    </div>

    <div
      class="video-section"
      appScrollAnimate
      animationClass="animate__fadeInRight"
      animationDelay="0.3s"
    >
      <div
        class="video-section"
        appScrollAnimate
        animationClass="animate__fadeInRight"
        animationDelay="0.3s"
      >
        <div class="video-placeholder">
          <img
            src="assets/discover-medGate.png"
            alt="Discover MedGate"
            style="
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 12px;
            "
          />
        </div>
      </div>
    </div>
  </div>
</div>
