<!-- about-hero.component.html -->
<section class="about-hero">
  <div class="hero-content">
    <h1 
      class="hero-title"
      appScrollAnimate 
      animationClass="animate__fadeInDown"
      animationDelay="0.2s"
    >
      {{ 'aboutHero.empowering' | translate }}
      <span class="highlight">{{ 'aboutHero.medical' | translate }}</span>
      {{ 'aboutHero.innovation' | translate }}
    </h1>
    <p 
      class="hero-subtitle"
      appScrollAnimate 
      animationClass="animate__fadeInUp"
      animationDelay="0.4s"
    >
      {{ 'aboutHero.subtitle' | translate }}
    </p>
  </div>
</section>